* {
    margin: 0;
    padding: 5px;
    
}

header {
    background-color: #5d576b;
}


.custom-btn {
    background-color: #d496a7;
}

.card {
    background-color: #f1dede;
}

.col {
    background-color: #5d576b;
}
