* {
    margin: 0;
    padding: 5px;
    
}

header {
    background-color: #5d576b;
}


.custom-btn {
    background-color: #d496a7;
}

.custom-btn:hover {
    background-color: #6cd4ff;
}

.custom-btn:active {
    transform: translateY(4px);
}

.card {
    background-color: #f1dede;
}

.col {
    background-color: #5d576b;
    color: white;
    text-align: left;
}

.history {
    width: 100%;
}
